<div class="d-flex justify-content-around flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <h3>DataBase BookStore</h3>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a routerLink="/mongo" class="me-3 py-2 text-dark text-decoration-none" href="#">MongoDB</a>
        <a routerLink="/mysql" class="me-3 py-2 text-dark text-decoration-none" href="#">MySQL</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Suporte</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<div class="d-flex justify-content-around align-items-center h-200">

    <h1>Escolha seu livro</h1>

</div>